%div{:class=>'container_16'}
  %div{:class=>'grid_16'}
    %h2{:id=>'page-heading'}Create Pull Up Record
    = form_tag pullups_path do
      %br
      = hidden_field :pull, :user,:value=> @user.name

      -#= label :pull, :user, 'user :'
      -#= text_field :pull, 'user'
      %br

      = label :pull, :count, 'count'
      = number_field :pull, :count
      %br

      = label :pull, :note, 'note :'
      = text_field :pull, 'note'

      = submit_tag 'Save Changes'
  %div{:class=>'container_16'}
    %div{:class=>'grid_16'}
      %div{:class=>'block'}
  %div{:class=>'grid_16',:id=>"site_info"}
    %div{:class=>'box'}
      %p FOR HCI ASSIGNMENT
      %a{:href=>''}
  %div{:class=>'clear'}
