%div{:class=>'container_16'}
  %div{:class=>'grid_16'}
    %h2{:id=>'page-heading'}GOALS
  %div{:class=>'clear'}
  
  %div{:class=>'grid_16'}
    %div{:class=>'box'}
      %h2{:id=>'login'}
        =link_to "ENTER YOUR GOALS", edit_goal_path(@user)
      %div{:class=>'block'}
        %div{:id=>'info',:style=>"height:280px"}
          %br
          %br
          %br
          %div{:class=>'container_16'}
            %div{:class=>'grid_16'}
              %table#records
                %thead
                  %tr
                    %th Name
                    %th Pull-ups
                    %th Push-ups
                    %th Sit-ups
                    %th Squats
                    %th Dips
                %tbody
                  -# @user.each do |tbl| 
                  %tr
                    %td= @user.name
                    %td= link_to "#{@user.pullups}", edit_goal_path(@user)
                    %td= link_to "#{@user.pushups}", edit_goal_path(@user)
                    %td= link_to "#{@user.situps}", edit_goal_path(@user)
                    %td= link_to "#{@user.squats}", edit_goal_path(@user)
                    %td= link_to "#{@user.dips}", edit_goal_path(@user)
  %br
  %br
  %div{:class=>'grid_16',:id=>"site_info"}
    %div{:class=>'box'}
      %p  FOR HCI ASSIGNMENT
      %a{:href=>''}
  %div{:class=>'clear'}
